<!DOCTYPE html>
<html>
<head>
    {{> header }}
</head>
<body class="skin-blue">

{{#*inline "error-alert"}}
    <div class="alert alert-danger">{{msg}}</div>
{{/inline}}



<div class="wrapper">
    {{> navbar }}
    {{> sidemenu }}
    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>

                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            {{> validation }}
           {{{ body }}}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    {{> footer }}
</div><!-- ./wrapper -->
  {{> scripts }}
</body>
</html>